   <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p> View our handpicked campgrounds from all over the world </p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-lg"> Create a new campground</a>
            </p>
        </div>
    </header>