   <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p> View our handpicked campgrounds from all over the world </p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-lg"> Create a new campground</a>
            </p>
            <p>
                <form class="form form-inline" action="/campgrounds" method="GET">
                    <div class="form-group">
                        <input type="text" placeholder="Search campgrounds" name="search" id="search" class="form-control">
                        <input type="submit" value="Search" class="btn btn-success" class="form-control">
                    </div>
                    
                </form>
            </p>
        </div>
    </header>